---
name: Build and deploy .NET Core application to Function App
  background-function-service
on:
  push:
    branches:
      - master
env:
  AZURE_FUNCTIONAPP_NAME: background-function-service
  AZURE_FUNCTIONAPP_PACKAGE_PATH: ./published
  CONFIGURATION: Release
  DOTNET_CORE_VERSION: 8.0.x
  WORKING_DIRECTORY: .
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_CORE_VERSION }}
      - name: Restore
        run: dotnet restore "${{ env.WORKING_DIRECTORY }}"
      - name: Build
        run: dotnet build "${{ env.WORKING_DIRECTORY }}" --configuration ${{
          env.CONFIGURATION }} --no-restore
      - name: Publish
        run: dotnet publish "${{ env.WORKING_DIRECTORY }}" --configuration ${{
          env.CONFIGURATION }} --no-build --output "${{
          env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}"
      - name: Publish Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: functionapp
          path: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: functionapp
          path: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
      - name: Azure Login
        uses: azure/login@v2
        with: null
        client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_971A24F5172E441B8C670376C9461035
          }}
        tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_E49A889A9E6442FF9B9F3FF7E32C23BD
          }}
        subscription-id: ${{
          secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_0E12E350659F464C8F759104F4CF84DC
          }}
      - name: Deploy to Azure Function App
        uses: Azure/functions-action@v1
        with:
          app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
          package: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
